@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --foreground: var(--color-neutral-900);
    --background: var(--color-white);
}

&[data-theme="dark"] {
    --foreground: var(--color-neutral-100);
    --background: var(--color-neutral-950);
}

html,
body {
    color: var(--foreground);
    background-color: var(--background);
}

html[data-theme="light"],
html[data-theme="light"] body {
    color-scheme: light;
}

html[data-theme="dark"],
html[data-theme="dark"] body {
    color-scheme: dark;
}